body {
    position: relative;
}

.img100x100 {
    height: 100px;
    width: 100px;
}

#photo-icon {
    font-size: 70px;
}

#image-source-button {
    cursor: pointer;
    position: relative;
}

.image-source-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

#source-image {
    display: none;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-position: center;
    background-size: cover;
}

#cancel-workflow-execution {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 30px;
}

#loading-overlay-status {
  color: #fff;
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

#loading-overlay-tags {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
}

.slyce-sk-fading-circle {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slyce-sk-fading-circle .slyce-sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .slyce-sk-fading-circle .slyce-sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: slyce-sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: slyce-sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .slyce-sk-fading-circle .slyce-sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .slyce-sk-fading-circle .slyce-sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .slyce-sk-fading-circle .slyce-sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .slyce-sk-fading-circle .slyce-sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .slyce-sk-fading-circle .slyce-sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .slyce-sk-fading-circle .slyce-sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .slyce-sk-fading-circle .slyce-sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .slyce-sk-fading-circle .slyce-sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes slyce-sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes slyce-sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }



